<mat-toolbar>

    <span>Payever Calendar</span>

    <button mat-raised-button class="button-today" (click)="goToTodayDate()">Today</button>
    <span class="toolbar-spacer"></span>
    
    {{selectedDate}}
    <mat-paginator class="paginator" [showFirstLastButtons]="false" [hidePageSize]="true" [length]="365" [pageSize]="1"
        [pageIndex]="selectedIndex" (page)="handlePage($event)" aria-label="Select page">
    </mat-paginator>

    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="openMyGithubRepo()" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>