<div class="navbar">
    <ul class="navbar-list">
        <li>
            <a [routerLink]="['/']">
                Calendar
            </a>
        </li>
        <li>
            <a [routerLink]="['/new-appointment']">
                New appointment
            </a>
        </li>
        <li>
            <a [routerLink]="['/update-appointment']">
                Update appointment
            </a>
        </li>
        <li>
            <a [routerLink]="['/delete-appointment']">
                Delete appointment
            </a>
        </li>
    </ul>
</div>