<section class="hours-list">
  <mat-list role="list">
    <mat-list-item *ngFor="let hour of dayHours" role="listitem">{{hour}}</mat-list-item>
  </mat-list>

  <div cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
    <div (click)="!appointment.disabled && openAppointment(appointment.appointment)" class="drop-box" *ngFor="let appointment of appointments" [cdkDragDisabled]="appointment.disabled" cdkDrag>
      <span *ngIf="!appointment.disabled">
        {{appointment.appointment.title}}, {{appointment.appointment.time}}
      </span>
    </div>
  </div>

</section>