// variables
$dark-color: #111111;
$white-color: #fff;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}


.navbar {
    background-color: $dark-color;
    color: $white-color;
    padding: 2rem;
    margin-bottom: 4rem;

    .navbar-list {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }
}

.calendar-container,
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .calendar {
        width: 400px;
    }
}

.mt-5 {
    margin-top: 2.5rem;
}

.special-date {
    background-color: red;
}

.appointments-lits{
    gap: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    li {
        cursor: pointer;
    }
}